/* put specific overrides to CSS for your workshop in this file */
.reveal blockquote {
	width: 100%;
}
.reveal pre {
	width: 100%;
}
.reveal .small {
	font-size:  14px;
}
.reveal .inline-container {
	display: inline-block;
}
.reveal .inline-container.two-col {
	width: 49%;
}
/* Hover and transition example */
.reveal .hover-example,
.reveal .transition-example {
	width: 20%;
	height: 200px;
	background-color: #1BA0FF;	
}
.reveal .transition-example {
	transition: all 1s ease;
}
.reveal .hover-example:hover,
.reveal .transition-example:hover {
	background-color: #3DF2C6;
}
.reveal .ease-example {
	width: 100px;
	height: 100px;
	left: 0;
	background-color: #000;
	position: relative;
}
.reveal .ease-example.regular {
	transition: all 4s ease;
}
.reveal .ease-example.in {
	transition: all 4s ease-in;
}
.reveal .ease-example.out {
	transition: all 4s ease-out;
}
.reveal .ease-container:hover .ease-example {
	left: 200px;
}
/* Keyframe Example */
.reveal .keyframe-example {
	width: 200px;
	height: 200px;
	background-color: #1A6373;
	display: inline-block; 
}
.reveal .keyframe-example:hover {
	-webkit-animation: example 5s infinite;
}
@-webkit-keyframes example {
	0% {
		-webkit-transform: scale(1);
	}
	25% {
		-webkit-transform: scale(3);
	}
	50% {
		-webkit-transform: rotate(10deg) scale(3);
	}
	55% {
		-webkit-tranform: rotate(0deg) scale(2);
	}
	60% {
		-webkit-transform: rotate(-10deg) scale(2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
.reveal .transform-example {
	height: 100px;
	width: 100px;
	background-color: #1A6373;
}
.reveal .transform-example.skewX{
	-webkit-transform: skewX(10deg);
}
.reveal .transform-example.skewY{
	-webkit-transform: skewY(10deg);
}
.reveal .transform-example.rotate{
	-webkit-transform: rotate(30deg);
}
.reveal .transform-example.translate{
	-webkit-transform: translate(100px,-50px);
}
.reveal .perspective-container.small {
	-webkit-perspective: 100px;
}
.reveal .perspective-container.large {
	-webkit-perspective: 600px;
}
.reveal .perspective-example {
	width: 200px;
	height: 200px;
	background-color: blue;
}
.reveal .perspective-small-example {
	-webkit-transform: rotateY(20deg);
}
.reveal .perspective-large-example {
	-webkit-perspective: 600px;
	-webkit-transform: rotateY(20deg);
}
.reveal .transform-rotatex-example {
	-webkit-perspective: 500px;
	-webkit-transform: rotateX(50deg);
}
.reveal .transform-rotatey-example {
	-webkit-perspective: 500px;
	-webkit-transform: rotateY(50deg);
}
.reveal .transform-translatez-example {
	-webkit-perspective: 500px;
	-webkit-transform: translateZ(100px);
}
.reveal .transform-scalez-example {
	-webkit-perspective: 500px;
	-webkit-transform: scaleZ(100px);
}
.reveal .flip-container {
	position: relative;
	height: 250px;
	width: 150px;
}
.reveal .flip-container .item {
	width: 100%;
	height: 100%;
	-webkit-transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;   
	transition: all 0.5s ease;
}
.reveal .flip-container:hover .item {
	-webkit-transform: rotateY(180deg);
}
.reveal .flip-container .front {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	-webkit-transform: translateZ(1px);
	-webkit-backface-visibility: hidden;
}
.reveal .flip-container .back {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: red;
	-webkit-transform: translateZ(-1px) rotateY(180deg);
}
