/* put specific overrides to CSS for your workshop in this file */
.reveal blockquote {
	width: 100%;
}
.reveal pre {
	width: 100%;
}
.reveal .small {
	font-size:  14px;
}
.reveal .inline-container {
	display: inline-block;
}
.reveal .inline-container.two-col {
	width: 49%;
}
/* Hover and transition example */
.reveal .hover-example,
.reveal .transition-example {
	width: 20%;
	height: 200px;
	background-color: #1BA0FF;	
}
.reveal .transition-example {
	transition: all 1s ease;
}
.reveal .hover-example:hover,
.reveal .transition-example:hover {
	background-color: #3DF2C6;
}
/* Keyframe Example */
.reveal .keyframe-example {
	width: 200px;
	height: 200px;
	background-color: #1A6373;
	display: inline-block; 
}
.reveal .keyframe-example:hover {
	-webkit-animation: example 5s infinite;
}
@-webkit-keyframes example {
	0% {
		-webkit-transform: scale(1);
	}
	25% {
		-webkit-transform: scale(3);
	}
	50% {
		-webkit-transform: rotate(10deg) scale(3);
	}
	55% {
		-webkit-tranform: rotate(0deg) scale(2);
	}
	60% {
		-webkit-transform: rotate(-10deg) scale(2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
.reveal .transform-example {
	height: 100px;
	width: 100px;
	background-color: #1A6373;
}
.reveal .transform-example.skewX{
	-webkit-transform: skewX(10deg);
}
.reveal .transform-example.skewY{
	-webkit-transform: skewY(10deg);
}
.reveal .transform-example.rotate{
	-webkit-transform: rotate(30deg);
}
.reveal .transform-example.translate{
	-webkit-transform: translate(100px,-50px);
}